*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    
.home-section{
    width: 1400px;
    margin: 0 auto;
    
}
.col-30{
    width: 30%;
}
.col-70{
    width: 70%;
}
.row{
    display: flex;
    flex-wrap: wrap;
   
}
.logo{
    margin-left: 100px;
}
header{
    border:solid gray 1px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.topnp{
    background-color: rgb(231, 196, 196);
    display: flex;
    justify-content: flex-end;
}
.callus{
    background-color: red;
    border: none;
    color: aliceblue;
    margin-right: 200px;
    padding: 5px 40px;}
    
i{
    margin-right: 20px;
}
.navbar{
    line-height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
} 

.col-50{
    width: 50%;
} 
.row{
    display: flex;
    flex-wrap: wrap;
}
.mid-img{
   
    width: 100%;
    margin-bottom: 20px;
}
h2{
    font-size: 55px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    margin-top: 100px;
    padding-top: 10px;
    font-size: 55px;
    color:red;
    margin-bottom: 10px;
}
p{
    margin-top: 50px;
    font-size: 23px;
    color: black;
}
.red{
    color: red;
    margin-left: 010px;
}
.mid-text{
    margin-left: 100px;
    padding-left: 50px;
}
select{
    padding: 34px 53.5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  box-shadow: 5px black;
  border-radius: 5px;
  
}
.Search{
    padding: 34px 53.5px;
    background-color: red;
    color: aliceblue;
    border-radius: 10px;

}
.po-ab{
    position: absolute;
    top: 568px;
    left: 150px;
}
.Our{
    padding: 10px 15px;
    border: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
@media (min-width: 320px) and (max-width: 576px) {
    
    .col-30{
        width: 100%;
        display: block;

    }
    .col-70{
        width: 100%;
        display: block;
    }
    .col-50{
        width: 100%;
    }
   
  }


